services:
  mysql:
    image: mysql:8.4.7
    environment:
      MYSQL_ROOT_PASSWORD: <password>
    ports:
      - "25060:3306"
    volumes:
      - dev-data:/var/lib/mysql
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped

  stripe:
    image: stripe/stripe-cli:v1.34.0
    environment:
      STRIPE_DEVICE_NAME: docker
    command: listen --forward-to nestjs:3333/stripe/webhook/clover/
    restart: unless-stopped
    depends_on:
      - nestjs

  mail:
    image: axllent/mailpit
    volumes:
      - ./data:/data
    ports:
      - "8025:8025"
      - "1025:1025"
    restart: unless-stopped
    environment:
      MP_MAX_MESSAGES: 500
      MP_DATABASE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

  django:
    build:
      context: .
      dockerfile: Dockerfile
    entrypoint: /scripts/start.sh
    environment:
      DJANGO_ENV: "docker"
    volumes:
      - .:/app
    ports:
      - "8000:8000"
      - "5001:5001"
    depends_on:
      - mysql
      - redis

  nestjs:
    build:
      context: ../bhmc-admin
      dockerfile: apps/api/Dockerfile
    volumes:
      - ../bhmc-admin:/app
      - /app/node_modules
      - /app/apps/api/node_modules
    ports:
      - "3333:3333"
    environment:
      - NODE_ENV=development
    depends_on:
      - mysql
    restart: unless-stopped

  next:
    build:
      context: ../bhmc-admin
      dockerfile: apps/web/Dockerfile
    volumes:
      - ../bhmc-admin:/app
      - /app/node_modules
      - /app/apps/web/node_modules
    ports:
      - "3100:3100"
    env_file:
     - ../bhmc-admin/apps/web/.env.development
    depends_on:
      - nestjs
    restart: unless-stopped

  bhmc:
    build:
      context: ../bhmc
      dockerfile: Dockerfile
    volumes:
      - ../bhmc:/app
      - /app/node_modules  # Anonymous volume prevents host from overwriting
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
    depends_on:
      - django

volumes:
  dev-data:
